<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lorant | Contactez nous</title>
    <link rel="stylesheet" href="../style/contactUs.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1 class="title">Lorant</h1>
        </div>
        <nav>
            <li><a href="../index.html">Home</a></li>
            <li><a href="productPage.html">Tous nos produits</a></li>
            <li>Soldes</li>
            <li>Panier</li>
            <li><a href="contactUs.html">Nous contacter</a></li>
        </nav>
    </header>
    <div class="content">
        <div class="sidebar">
            <h2>Vous rencontrez des problèmes ?</h2>
            <img class="ask-img" src="../assets/ask.svg" alt="ask logo">
            <p>Vous pouvez nous contacter via notre formulaire</p>
        </div>
        <div class="form-container">
            <form>
                <div>
                    <label>Votre nom :</label>
                    <input class="input-form" type="text" id="name" name="name">

                    <label>Votre email :</label>
                    <input class="input-form" type="email" id="email" name="email">
                </div>
                <div class="input-container">
                    <label>Le sujet :</label>
                    <input class="input-form" type="text" id="subject" name="subject">
                </div>
                <div class="input-container">
                    <label>Votre message :</label>
                    <textarea id="message" name="message" rows="5"></textarea>
                </div>
                <button class="button-form" type="submit">Valider</button>
            </form>
        </div>
    </div>
    <footer>
        <h1 class="title-footer">Lorant</h1>
        <div class="content-footer">
            <section class="footer-section">
                <p class="title-column">Rejoingnez nous</p>
                <img class="icon" src="../assets/instagram.svg">
                <img class="icon" src="../assets/facebook.svg">
                <img class="icon" src="../assets/twitter.svg">
            </section>
            <section class="footer-section">
                <p class="title-column">Aide</p>
                <p>Service client</p>
                <p>Détails de livraison</p>
                <p>Termes et conditions</p>
                <p>Politique de confidentialité</p>
            </section>
            <section class="footer-section">
                <p class="title-column">Notre entreprise</p>
                <p>Nos locaux</p>
                <p>A propos de nous</p>
                <p>Notre équipe</p>
                <p>Nos collaborateurs</p>
            </section>
            <section class="footer-section">
                <p class="title-column">Inscrivez vous à notre Newsletter</p>
                <div class="newsletter">
                    <input type="text" placeholder="votre email" class="newsletter-input">
                    <button class="newsletter-button">Rejoindre</button>
                </div>
            </section>
        </div>
    </footer>
</body>

</html>