<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Lorant | Nos produits</title>
    <link rel="stylesheet" href="/style/productsPage.css">
</head>

<body>
    <header>
        <div class="logo">
            <h1 class="title">Lorant</h1>
        </div>
        <nav>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/view/productPage.html">Tous nos produits</a></li>
            <li>Soldes</li>
            <li>Panier</li>
        </nav>
    </header>
    <div class="container">
        <h2>Catégories populaires</h2>
        <div class="card-container">
            <div class="card">
                <img src="/assets/cat-fleur.jpg" alt="image categorie fleurs">
                <div class="overlay">
                    <p>Fleurs</p>
                </div>

            </div>
            <div class="card">
                <img src="/assets/cat-plants.jpg" alt="image categorie plantes">
                <div class="overlay">
                    <p>Plantes</p>
                </div>
            </div>
            <div class="card">
                <img src="/assets//cat-boquet.jpg" alt="image categorie bouquet">
                <div class="overlay">
                    <p>Bouquets</p>
                </div>
            </div>
            <div class="card">
                <img src="/assets/cat-graine.jpg" alt="image categorie graine et bulbes">
                <div class="overlay">
                    <p>Graines & bulbes</p>
                </div>
            </div>
        </div>
    </div>
    <div class="second-container">
        <h2 style="color:white">Nos fleurs</h2>
        <div class="second-card-container">
            <div class="second-card">
                <img class="second-card-image" src="/assets/roses.jpeg" alt="roses">
                <p>Roses</p>
            </div>
            <div class="second-card">
                <img class="second-card-image" src="/assets/lilas.jpg" alt="pothos">
                <p>Lilas</p>
            </div>
            <div class="second-card">
                <img class="second-card-image" src="/assets/orchidée.jpg" alt="pothos">
                <p>Orchidée</p>
            </div>
            <div class="second-card">
                <img class="second-card-image" src="/assets/bouquet_fleur.jpg" alt="pothos">
                <p>Bouquet</p>
            </div>
        </div>
    </div>
    <div class="second-container">
        <h2 style="color:white">Nos fleurs</h2>
        <div class="second-card-container">
            <div class="second-card">
                <img class="second-card-image" src="/assets/roses.jpeg" alt="roses">
                <p>Roses</p>
            </div>
            <div class="second-card">
                <img class="second-card-image" src="/assets/lilas.jpg" alt="pothos">
                <p>Lilas</p>
            </div>
            <div class="second-card">
                <img class="second-card-image" src="/assets/orchidée.jpg" alt="pothos">
                <p>Orchidée</p>
            </div>
            <div class="second-card">
                <img class="second-card-image" src="/assets/bouquet_fleur.jpg" alt="pothos">
                <p>Bouquet</p>
            </div>
        </div>
    </div>
</body>

<footer>
    <h1 class="title-footer">Lorant</h1>
    <div class="content-footer">
        <section class="footer-section">
            <p class="title-column">Rejoingnez nous</p>
            <img class="icon" src="/assets/instagram.svg">
            <img class="icon" src="/assets/facebook.svg">
            <img class="icon" src="/assets/twitter.svg">
        </section>
        <section class="footer-section">
            <p class="title-column">Aide</p>
            <p>Service client</p>
            <p>Détails de livraison</p>
            <p>Termes et conditions</p>
            <p>Politique de confidentialité</p>
        </section>
        <section class="footer-section">
            <p class="title-column">Notre entreprise</p>
            <p>Nos locaux</p>
            <p>A propos de nous</p>
            <p>Notre équipe</p>
            <p>Nos collaborateurs</p>
        </section>
        <section class="footer-section">
            <p class="title-column">Inscrivez vous à notre Newsletter</p>
            <div class="newsletter">
                <input type="text" placeholder="votre email" class="newsletter-input">
                <button class="newsletter-button">Rejoindre</button>
            </div>
        </section>
    </div>
</footer>

</html>